@font-face {
  font-family: 'NCAA Missouri Tigers';
  src: url('../../assets/fonts/NCAA_Missouri_Tigers.eot');
  src:
    url('../../assets/fonts/NCAA_Missouri_Tigers.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.woff') format('woff'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.ttf')  format('truetype'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.svg#svgFontName') format('svg');
}



.title {
  margin-top: 13px;
  font-size: 50px;
  text-align: center;
  padding-right: 20px;
  font-family: 'NCAA Missouri Tigers', Arial;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

.card {
  height: 400px;
  width: 400px;
  padding: 10px;
  align-items: center;
  color: white;
  display:flex;
  margin: 10px;
}

mat-card-title-group {
  text-align:center;
  width: auto;
  margin-bottom: 10px;
}

mat-card-title{
  font-size: 30px;
}

mat-card-subtitle{
  font-size: 20px;
}

#officer-card{
    background-color: gray;
    padding-bottom: 2.5rem;
}

img {
  padding: 5px;
}

mat-card-footer {
  position: absolute;
  bottom: 10px;
}
