mat-card {
  display: inline-block;
  width: 48%;
  margin: auto;
}

mat-form-field{
  width: 100%;
}

button {
  width: 50%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  padding: 10px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}
