@font-face {
  font-family: 'NCAA Missouri Tigers';
  src: url('../../assets/fonts/NCAA_Missouri_Tigers.eot');
  src:
    url('../../assets/fonts/NCAA_Missouri_Tigers.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.woff') format('woff'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.ttf')  format('truetype'),
    url('../../assets/fonts/NCAA_Missouri_Tigers.svg#svgFontName') format('svg');
}

/* mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
} */

#headerTitle {
  font-size: 39px;
  text-align: center;
}

#headerTitle, .navbar-links {
  font-family: 'NCAA Missouri Tigers', Arial;
  padding: 20px;
  text-decoration: none;
  color: white;
  vertical-align:top;
}

.navbar-links {
  font-size: 20px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.navbar-links:hover {
  background: #333333;
  height: auto;
  margin-top: 0px;
  border-top: 3px solid #F1B82D;
  cursor: pointer;
}

.title-container {
  display: flex;
  width: 25%;
  height: 100%;
  align-items: center;
}

.link-container {
  display: flex;
  width: 75%;
  justify-content: end;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar-links {
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 800px){
  #headerTitle {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    padding-left: 5px;
    margin-top: 0px;
  }

  .link-container .navbar-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 512px) {

}
