<mat-toolbar>
  <mat-toolbar-row>
    <div class="title-container">
      <img src="../../assets/surfLogoWhite.png" style="height:40px; width:40px; display:inline-block;">
      <a href="" id="headerTitle">MIZZOU SURF</a>
    </div>
    <div class="link-container">
      <a href="" class="navbar-links">Home</a>
      <!-- <a href="news" class="navbar-links">News</a> -->
      <a href="media" class="navbar-links">Media</a>
      <a href="settings" class="navbar-links">Settings</a>
      <button mat-icon-button class="hamburger" (click)="setToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row [ngClass]="isToggled ? 'visible' : 'invisible'">
    <a href="" class="navbar-links">Home</a>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row [ngClass]="isToggled ? 'visible' : 'invisible'">
    <a href="news" class="navbar-links">News</a>
  </mat-toolbar-row> -->
  <mat-toolbar-row [ngClass]="isToggled ? 'visible' : 'invisible'">
    <a href="media" class="navbar-links">Media</a>
  </mat-toolbar-row>
  <mat-toolbar-row [ngClass]="isToggled ? 'visible' : 'invisible'">
    <a href="settings" class="navbar-links">Settings</a>
  </mat-toolbar-row>
</mat-toolbar>
